apiVersion: v1
kind: Secret
metadata:
  name: vault-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "http://localhost:8200",
      "auth_login": {
        "path": "auth/mgmtrole/login",
        "parameters": {
          "role_id": "a1819dea-33ff-3b49-7ab5-b917c38eee9e",
          "secret_id": "c15bb5b0-ecb4-8b4d-9046-a50bab490f71"
        }
      }
    }
